NetReduce.CoordinatorWebConsole/Service References/WSClient/RemoteWorkerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetReduce.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetReduce.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PerformanceMonitor.PerformanceStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="DriveStatistics" nillable="true" type="tns:ArrayOfPerformanceMonitor.DriveStatistics" />
      <xs:element minOccurs="0" name="LoadStatistics" nillable="true" type="tns:PerformanceMonitor.LoadStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerformanceMonitor.PerformanceStatistics" nillable="true" type="tns:PerformanceMonitor.PerformanceStatistics" />
  <xs:complexType name="ArrayOfPerformanceMonitor.DriveStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerformanceMonitor.DriveStatistics" nillable="true" type="tns:PerformanceMonitor.DriveStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerformanceMonitor.DriveStatistics" nillable="true" type="tns:ArrayOfPerformanceMonitor.DriveStatistics" />
  <xs:complexType name="PerformanceMonitor.DriveStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="FreeSpace" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSize" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerformanceMonitor.DriveStatistics" nillable="true" type="tns:PerformanceMonitor.DriveStatistics" />
  <xs:complexType name="PerformanceMonitor.LoadStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="FreeRamCounterMB" type="xs:float" />
      <xs:element minOccurs="0" name="TotalProcessorTimeCounterPercent" type="xs:float" />
      <xs:element minOccurs="0" name="UsedRamCounterPercent" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerformanceMonitor.LoadStatistics" nillable="true" type="tns:PerformanceMonitor.LoadStatistics" />
</xs:schema>