NetReduce.WorkerService.Tests/Service References/WSClient/RemoteWorkerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemoteWorkerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:28756/RemoteWorkerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:28756/RemoteWorkerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:28756/RemoteWorkerService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRemoteWorkerService_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="IRemoteWorkerService_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteWorkerService_Map_InputMessage">
    <wsdl:part name="parameters" element="tns:Map" />
  </wsdl:message>
  <wsdl:message name="IRemoteWorkerService_Map_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteWorkerService_Reduce_InputMessage">
    <wsdl:part name="parameters" element="tns:Reduce" />
  </wsdl:message>
  <wsdl:message name="IRemoteWorkerService_Reduce_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReduceResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteWorkerService_TryJoin_InputMessage">
    <wsdl:part name="parameters" element="tns:TryJoin" />
  </wsdl:message>
  <wsdl:message name="IRemoteWorkerService_TryJoin_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryJoinResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteWorkerService_TransferFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferFiles" />
  </wsdl:message>
  <wsdl:message name="IRemoteWorkerService_TransferFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteWorkerService_PushFile_InputMessage">
    <wsdl:part name="parameters" element="tns:PushFile" />
  </wsdl:message>
  <wsdl:message name="IRemoteWorkerService_PushFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IRemoteWorkerService">
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteWorkerService/Init" message="tns:IRemoteWorkerService_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteWorkerService/InitResponse" message="tns:IRemoteWorkerService_Init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Map">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteWorkerService/Map" message="tns:IRemoteWorkerService_Map_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteWorkerService/MapResponse" message="tns:IRemoteWorkerService_Map_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reduce">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteWorkerService/Reduce" message="tns:IRemoteWorkerService_Reduce_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteWorkerService/ReduceResponse" message="tns:IRemoteWorkerService_Reduce_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryJoin">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteWorkerService/TryJoin" message="tns:IRemoteWorkerService_TryJoin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteWorkerService/TryJoinResponse" message="tns:IRemoteWorkerService_TryJoin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteWorkerService/TransferFiles" message="tns:IRemoteWorkerService_TransferFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteWorkerService/TransferFilesResponse" message="tns:IRemoteWorkerService_TransferFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteWorkerService/PushFile" message="tns:IRemoteWorkerService_PushFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteWorkerService/PushFileResponse" message="tns:IRemoteWorkerService_PushFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRemoteWorkerService" type="tns:IRemoteWorkerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://tempuri.org/IRemoteWorkerService/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Map">
      <soap:operation soapAction="http://tempuri.org/IRemoteWorkerService/Map" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reduce">
      <soap:operation soapAction="http://tempuri.org/IRemoteWorkerService/Reduce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryJoin">
      <soap:operation soapAction="http://tempuri.org/IRemoteWorkerService/TryJoin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferFiles">
      <soap:operation soapAction="http://tempuri.org/IRemoteWorkerService/TransferFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushFile">
      <soap:operation soapAction="http://tempuri.org/IRemoteWorkerService/PushFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteWorkerService">
    <wsdl:port name="BasicHttpBinding_IRemoteWorkerService" binding="tns:BasicHttpBinding_IRemoteWorkerService">
      <soap:address location="http://localhost:28756/RemoteWorkerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>