NetReduce.CoordinatorWebConsole/Service References/CSClient/CoordinatorService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetReduce.CoordinatorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetReduce.CoordinatorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15969/CoordinatorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="MapReduceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsRunning" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="KeysAndValues" nillable="true" type="q1:ArrayOfTupleOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MapReduceResult" nillable="true" type="tns:MapReduceResult" />
</xs:schema>